/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-image: url("/img/body.jpg");
    background-attachment: fixed;
    height: 100%;
}

a{
    cursor: pointer;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 10px auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    position: relative;
    height: 398px;
    background-image: url("/img/bg.jpg");
    border-radius: 8px 8px 0px 0px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
#container{
    white-space:nowrap;
    overflow:hidden;
    padding: 10px;
    margin: 0 auto;
    background: #b26839;
    /*opacity: 0.7;*/
    min-height: 300px;
    position: relative;
}
h1{
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

h1 a{
    text-decoration: none;
    color: black;
}

ul#lang {
    float: right;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
}
ul#lang li a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#b6693b; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
ul#lang li a:hover {
    background: #fc9b4f;/*добавляем эффект при наведении*/
}
ul#lang li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/

}

ul#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    background:#b26839; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
    border-bottom: 10px solid #d27b43;
}
ul#menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#b26839; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block;
    border-right: 1px solid #985000; /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
ul#menu a:hover {
    background:#d9e136;/*добавляем эффект при наведении*/
}
ul#menu li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
}

ul.user_info{
    display: block;
    right: 0;
}

ul.user_info a{
    border-left: 1px solid #985000;
    border-right: none !important;
}

a#lll{
    font-weight: bolder;
}

.box{
    white-space:nowrap;
    min-height: 250px;
    padding-bottom: 5px;
    border-bottom: 10px solid #d27b43;
    margin-bottom: 10px;
}

.box div{
    position: relative;
    height: 250px;
    width: 250px;
    text-align: center;
    margin-right: 20px;
    display:inline-block;
    float: left;
    font-size: 1.2em;
    overflow:hidden;
}
.box div img {
    max-height: 250px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.box div img:hover{
    -webkit-transform: scale(3.5);
    -moz-transform: scale(3.5);
    -o-transform: scale(3.5);
}

span.discr{
    position: absolute;
    bottom: 0;
    left: 0;
}

span.discr{
    animation-name: example;
    animation-duration: 1s;
}

span.discr a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

span.discr a:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
span.discr a:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

div.cal{
    font-size: 0.9em;
    padding: 10px;
    width: 100%;
    text-align: left;
}

span#sort{
    display: block;
    padding: 5px;
    margin: -15px -10px 10px -10px;
    background: #d27b43;
    text-align: center;
}

span#sort a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

span.price{
    font-weight: bolder;
}

#popup1{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    float: left;
    width:auto;
    min-width: 150px;
    min-height: 30px;
    padding: 20px;
    margin: 10px;

    background:#FDBE33;
    border-radius: 4px;
    opacity: 0.7;
    box-shadow: 0 0 10px #70771e;

    text-align: center;
}

span.info a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
}

@-webkit-keyframes example {
    0% {opacity: 0;}
    25% {opacity: 0.3;}
    50% {opacity:0.5;}
    75% {opacity:0.7;}
    100% {opacity:1;}
}

/* Standard syntax */
@keyframes example {
    0% {opacity: 0;}
    25% {opacity: 0.3;}
    50% {opacity:0.5;}
    75% {opacity:0.7;}
    100% {opacity:1;}
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

#overlay{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
}

#login-form {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    display: none;
    position: relative;
    z-index: 1000;
    width: 205px;
    padding: 30px;
    margin: 0 auto;
    top: 50%;

    background:#FDBE33;
    border-radius: 4px;
    box-shadow: 0 0 10px #70771e;

    text-align: center;
}

#login-form h1{
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D77206;
}

#login-form input{
    border: 0;
    border-radius: 2px;
    height: 32px;
    margin-right: 5px;
}

a.button10 {
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}
a.button10:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
    padding: calc(.25em + 1px) .5em calc(.25em - 1px);
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

div#container p{
    padding: 20px;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

table#cart_table{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
}

table#cart_table thead{
    font-weight: bolder;
}

table#cart_table thead tr, table#cart_table tr{
    border-bottom: 1px solid #d27b43;
    line-height: 30px;
}

table#cart_table tr td, table#cart_table tr td{
    vertical-align: middle;
    text-align: center;
}

td.cart_img{
    padding: 5px 15px 5px 5px;
}

td.cart_img img{
    max-height: 100px;
}

span#result{
    text-align: right;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.2em;
    width: 100%;
    display: block;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.order{
    display: block;
    position: static !important;
    width: 100%;
    text-align: right;
    margin: 10px 0px;
    font-size: 1.3em;
}

div.cabinet_block{
    display: inline-block;
    min-width: 248px;
}

div.cabinet_block table{
    margin-left: 25px;
    width: 880px !important;
}

div#map{
    width: 600px;
    height: 400px;
    margin: 20px auto 0px;
}

footer{
    padding: 20px;
    background: #b26839;
    border-top: 10px solid #d27b43;
    font-weight: bolder;
    text-align: right;
}